<?xml version="1.0"?>
<connectionStrings>
  <add name="POSConnectionString" connectionString="Data Source=192.168.1.50\SQLExpress,49172;Initial Catalog=POS;User ID=sa;Password=rpapos2011*" providerName="System.Data.SqlClient"/>
  <add name="RPA_iDB" connectionString="Data Source=192.168.1.50\SQLExpress,49172;Initial Catalog=RPA_iDB;User ID=sa;Password=rpapos2011*" providerName="System.Data.SqlClient"/>
  <add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Sample1.xls;Extended Properties=Excel 8.0"/>
  <add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Sample.xlsx;Extended Properties=Excel 12.0"/>
</connectionStrings>